<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper mx-auto text-center w-75">
        <h1 class="m-5">DASHBOARD</h1>
        <div class="new-save-game d-flex justify-content-around m-5">
            <div>
                <h3 class="new-game m-5 text-center mx-auto">Start New Game</h3>
            </div>
            <div>
                <h3 class="load-game m-5 text-center mx-auto">Load Saved Game</h3>
            </div>
        </div>
    </div>
</body>
</html>