<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="wrapper mx-auto text-center w-75">
        <h1 class="m-5">Welcome to Sarah</h1>
        <h2 class="m-5">User Login</h2>
        <div class="login-block mx-auto text-center w-50">
            <form action="/dashboard">
                <div class="username d-flex justify-content-around m-5">
                    <label>Username</label>
                    <input type="text">
                </div>
                <div class="password d-flex justify-content-around m-5">
                    <label>Password</label>
                    <input type="password">
                </div>
                <input class="login-button m-5 w-25" type="submit" value="Login">
            </form>
            <h4>Create Account</h4>
        </div>
    </div>
</body>
</html>